body{
    margin: 0;
    padding: 0;
}

.logo-image img{
    margin: 50px 640px;
}
.image-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:160px 10px;
}
.centertext {
    position: absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    left: 450px;
    top: 203px;
}
.centertext .button-container{
    display: flex;
    gap:10px;

}
.bigtext {
    width: 445px;
    height: 128px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
}
.paragraph {
    width: 540px;
    height: 52px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}
.pributton{
    color: white;
    width: 193px;
    height: 58px;
    background: #71C0D4;
    border-radius: 29px;
    font-family: Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    border:none;
}
.probutton{
    height: 26px;
    top: calc(50% - 26px/2);
    border:none;
    
}    
.or {
    position: absolute;
    width: 56px;
    height: 140px;
    left: 692px;
    top: 637px;
}
.secbutton{
    width: 139px;
    height: 58px;
    border:none;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    color: #FFFFFF;
    background: #B18BDD;
    border-radius: 29px;
}
.carousel{
    display: flex;
    gap:10px;
    align-items: center;
    width: 20%;
    height: 150px;
    margin:370px 120px;
}
.carousel .imageman, .imagemen, .imagewomen,.imagewoman{
    width: 100%;
    
}

.text-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:-280px;
}
.text-wrapper h3{
    color:#71C0D4;
    font-family: Red Hat Display;
}
.text-wrapper h1{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #28283D;
}
.text-wrapper p{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;

}

.downblock{
    background: #4D96A9;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:-200px 30px;
}
.largetext{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FAFAFA;

}
.largertext{
    font-family: Red ;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
}
.footer-button{
    width: 193px;
    height: 58px;
    outline: none;
    border: none;
    background: #855FB1;
    border-radius: 29px;
    color: #FFFFFF;
    
}
